body {
  background: url(https://us.123rf.com/450wm/100ker/100ker1212/100ker121200009/16885115-seamless-light-colours-floral-abstract-wallpaper-pattern-background.jpg?ver=6);
  font-family: "Courier New", Courier, monospace;
}

h1 {
  color: #960096;
  text-align: center;
}

h3 {
  color: #570081;
}
